<%= render 'shared/nav' %>

<div class="container mt-4">
  <div class="card p-4 shadow">
    <h1 class="mb-3">Table <%= @table.table_number %> Details</h1>
    
    <p><strong>Status:</strong> <%= @table.table_status %></p>
    <p><strong>Guest Quantity:</strong> <%= @table.guest_quantity %></p>
  </div>

  <div class="card mt-4 p-4 shadow">
    <h3>Menu Items</h3>
    <%= render "menu_items/search" %><br>

    <%= form_with url: table_create_order_path(@table), method: :post, class: "mt-3" do |f| %>
      <p>
        <%= f.label :customer_name %>
        <%= f.text_field :customer_name %>
      </p>
      <p>
        <%= f.label :customer_email %>
        <%= f.text_field :customer_email %>
      </p>
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @menu_items.each do |item| %>
            <tr>
              <td>
                <% if item.image.present? %>
                <%= image_tag(url_for(item.image), size: "40x40") %>
                <%end%>
              </td>
              <td><%= item.name %></td>
              <td>₹<%= item.price %></td>
              <td><%= item.category %></td>
              <td><%= item.availability_status %></td>
              <td>
                <%= select_tag "order[items][#{item.id}]", options_for_select((0..20).to_a, 0), class: "form-select" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= will_paginate @menu_items %>
      <%= f.submit "Place Order", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>

  <% if @order.present? %>
    <div class="card mt-4 p-4 shadow">
      <h3>Selected Order Items</h3>
      Customer Name: <%= @order.customer_name %><br>
      Customer Email: <%= @order.customer_email %>      
      <table class="table table-stripped">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Order id</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.name %></td>
              <td><%= order_item.quantity %></td>
              <td>₹<%= order_item.amount %></td>
              <td><%= order_item.order_id %></td>
              <td>
                <%= button_to "Remove", remove_order_item_order_path(@order, order_item.id), method: :delete,
                  class: "btn btn-danger btn-sm",
                  data: { confirm: "Are you sure you want to remove this item?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_with url: order_path(@order), method: :patch do |f| %>
        <%= f.submit "Complete Order", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  <% end %>
</div>
